@font-face{
    font-family: Days;
    src: local("Days"), 
        url(Days.otf);
}
body{
    background-color: antiquewhite;
}

table{
    background: antiquewhite;
}
th{
    background: burlywood;
}
font{
    color: brown;
}
h2{
    margin: 3px;
    font-family: Days;
    /*    font-size: 10px;*/
    font-size: 19px;
    color: #006600;
}
h6{
    color: #333333;
}
/*-------------------- index ----------------------------------------------*/
#logo{
    width: 408px;
    height: 288px;
    margin: 70px auto auto auto;
    background-color: #222;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
#logo img {
    margin: 3px 3px 3px 3px;
}
#identificatin{
    margin: 20px auto auto auto;
    width: 370px;
    height: 140px;
    background-color: beige;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
#identificatin input{
    float: right; 
    margin-top: 7px;
    width: 247px;
}
select{
    width: 250px;
    color: grey;
}

/*-------------------- ScanPage ----------------------------------------------*/
#Content {
    margin: auto;
    width: 775px;
    height: 605px;
    background-color: burlywood;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);

}
#Bt_finish{
    margin: 20px;
    width: 130px;
    height: 30px;
}
#Bt_reverse{
    margin: 20px;
    width: 130px;
    height: 30px;
}
#TextPro{
    font-size: 13px;
    margin: 10px;
    margin-left: 20px;
}

#TextPro td{
    width: 80px;
    text-align: center;
}
#TextPro h3{
    color: #660000;
    margin: 2px;
    margin-left: 10px; 
    font-size: 15px;
}
#Process{
    font-family: Days;
    width: 650px;
    height: 400px;
    overflow-y: auto;
    margin-left: 4px;
    float: left;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 0px 10px rgba(0,0,0,0.5);
}
#FotoScreen {
    width: 445px;
    height: 160px;
    overflow-y: auto;
    margin-left: 4px;
    margin-top: 5px;
    float: left;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 0px 10px rgba(0,0,0,0.5);

}
#FotoScreen table{
    margin: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    /*    box-shadow: 3px 0px 10px rgba(0,0,0,0.5);*/
}
#FotoScreen textArea{
    margin: 5px;
    width: 410px;
    height: 30px;
}
#FotoScreen td{
    width: 80px;
    text-align: center;
    border: #222;
    border-left-style: dotted;
    border-left-width: thin;
    border-bottom-style: dotted;
    border-bottom-width: thin;
    font-family: Days;
    font-size: 10px;
    color: green;
}
#FotoScreen th{
    width: 80px;
    text-align: center;
    border: #222;
    border-left-style: dotted;
    border-left-width: thin;
    border-bottom-style: dotted;
    border-bottom-width: thin;
    font-family: Days;
    font-size: 12px;
}
#FotoScreen a{
    text-decoration: none;
}
#status {
    float: top;
    position: static;
    margin-bottom: 2px; 
    width: 100%;
    height: 30px;
    background-color: darkseagreen;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0);
    box-shadow: 0px 3px 10px rgba(0,0,0,0);
}
#status text{
    font-size: 14px;
    margin: 3px 0px 0px 10px;
    /*    color: black;*/
    font-family: Days;
}
#Pannel {    
    width: 114px;
    height: 200px;
    margin: 0px 4px 0px 3px;
    float: right;
}

#Pannel input{
    width: 115px;
    height: 30px;
    margin-top: 120px;
    margin-left: -20px;
}