@font-face{
    font-family: Days;
    src: local("Days"), 
        url(Days.otf);
}
body{
    background-color: antiquewhite;
}
/*-------------------- index ----------------------------------------------*/
#logo{
    width: 408px;
    height: 288px;
    margin: 70px auto auto auto;
    background-color: #222;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
#logo img {
    margin: 3px 3px 3px 3px;
}
#identificatin{
    margin: 20px auto auto auto;
    width: 380px;
    height: 140px;
    background-color: beige;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
#identificatin input{
    float: right; 
    margin-top: 7px;
    width: 247px;
}
select{
    width: 250px;
    color: grey;
}

/*-------------------- ScanPage ----------------------------------------------*/
#Content {
    margin: auto;
    width: 925px;
    height: 705px;
    background-color: burlywood;
    border-radius: 8px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);

}
#FotoScreen {
    width: 800px;
    height: 670px;
/*    background-color: #cccccc;*/
    margin-left: 2px;
    float: left;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 0px 10px rgba(0,0,0,0.5);

}

#FotoScreen td{
    width: 80px;
    text-align: center;
    border: #222;
    border-left-style: dotted;
    border-left-width: thin;
    border-bottom-style: dotted;
    border-bottom-width: thin;
    font-family: Days;
    font-size: 10px;
}
#status {
    float: top;
    position: static;
    margin-bottom: 2px; 
    width: 100%;
    height: 30px;
    background-color: darkseagreen;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0);
    box-shadow: 0px 3px 10px rgba(0,0,0,0);
}
#status text{
    font-size: 14px;
    margin: 3px 0px 0px 10px;
/*    color: black;*/
    font-family: Days;
}
#Pannel {    
    width: 114px;
    height: 630px;
    margin: 0px 4px 0px 3px;
    float: right;
}

#Pannel input{
    width: 115px;
    height: 30px;
    margin-top: 3px;
}